<!DOCTYPE html>
<html>
<head>
    <title>Recommender - Logout</title>
    <style>
        body {
            background-color: #f5f5f5;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 40px;
        }

        h1 {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 20px;
        }

        p {
            font-size: 16px;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <h1>Something went wrong...</h1>
    <p>Unfortunately, we were not able to create personalized recommendations for you. This could have many reasons.
        You can try again. If it still does not work, your data was probably not suitable for usage in this study.
        Many thanks for your willingness to participate!
        You can close this page now. 
    </p>
   
</body>
</html>
